name: Build & Publish Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install semantic-release
        run: |
          npm install --no-save semantic-release @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/exec @semantic-release/github conventional-changelog-conventionalcommits

      - name: Force update release branch to match main
        run: |
          git fetch origin
          git checkout main
          git pull origin main
          git branch -f release
          git push origin release --force

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DEBUG: semantic-release:*
        run: |
          npx semantic-release --extends ./.github/scripts/release-main.config.js
          if [ -s version.txt ]; then
            VERSION=$(cat version.txt)
            make build VERSION=$VERSION && make package
          else
            echo "No new release version."
          fi
