name: Build & Publish Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install semantic-release
        run: |
          npm install --no-save semantic-release @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/exec @semantic-release/github conventional-changelog-conventionalcommits

      - name: Force update release branch to match main
        run: |
          git fetch origin
          git checkout main
          git pull origin main
          git branch -f release
          git push origin release --force

      - name: Create Release Notes
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DEBUG: semantic-release:*
        run: |
          npx semantic-release --branches main --extends ./.github/scripts/release-main.config.js
          echo "version=$([ -s version.txt ] && cat version.txt || echo '')" >> "$GITHUB_OUTPUT"
          echo "release-notes<<EOF" >> $GITHUB_OUTPUT
          { [ -s release-notes.md ] && cat release-notes.md || echo ''; } >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Print debug
        run: |
          echo "Release version: ${{ steps.semantic-release.outputs.version }}"
          echo "Release notes: ${{ steps.semantic-release.outputs.release-notes }}"

      - name: Build binary
        run: |
          make build VERSION=${{ steps.semantic-release.outputs.version }} && make package

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.semantic-release.outputs.version }}
          body: ${{ steps.semantic-release.outputs.release-notes }}
          files: "*.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
