name: Version & Tag (Semantic Release Style)

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install semantic-release
        run: npm install --no-save semantic-release @semantic-release/commit-analyzer conventional-changelog-conventionalcommits

      - name: Create Tag
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DEBUG: semantic-release:*
        run: |
          npx semantic-release --extends .github/scripts/release-rc.config.js
